<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后宫SHOW</title>     
    <link rel="stylesheet" href="css/home.css" >
</head> 
<body>        
    <div class="head">
        <a href="home.html" target="_self" class="home">后宫SHOW</a>
        <a href="login.html" target="_blank" class="b_login"><input type="button" value="登陆"></a>
        <a href="register.html" target="_blank" class="b_register"><input type="button" value="注册"></a>
    </div><br><br><br>
    <div>
    <h3>鹊桥仙·纤云弄巧</h3>
    <hr>
    <a href="https://so.gushiwen.org/shiwenv_e83cadaaf394.aspx" target="_blank">
        <img src="img/10.jpg" alt="李清照" title="李清照的影子" width="280px" height="380px">
    </a>
    <hr>    
    <p>纤云弄巧，飞星传恨，银汉迢迢暗度。<br>
        金风玉露一相逢，便胜却人间无数。<br>
        柔情似水，佳期如梦，忍顾鹊桥归路。<br>
        两情若是久长时，又岂在朝朝暮暮。<br>
    </p>
    <br/>
    </div>
    <div>
    <span><h3>醉花阴·薄雾浓云愁永昼</h3></span>
    <hr>    
    <a href="https://so.gushiwen.org/shiwenv_324219410b89.aspx" target="_blank">
        <img src="img/6.jpg" alt="李清照" title="李清照的影子" width="280px" height="380px">
    </a>
    <hr>
    <p>薄雾浓云愁永昼，瑞脑消金兽。<br>
        佳节又重阳，玉枕纱橱，半夜凉初透。<br>
        东篱把酒黄昏后，有暗香盈袖。<br>
        莫道不销魂，帘卷西风，人比黄花瘦。<br>
    </p>
    </div>
    <div>
    <span><h3>诉衷情·当年万里觅封侯</h3></span>
    <hr>    
    <a href="https://so.gushiwen.org/shiwenv_264d7fe426e8.aspx" target="_blank">
        <img src="img/7.jpg" alt="李清照" title="李清照的影子" width="280px" height="380px">
    </a>
    <hr>
    <p>当年万里觅封侯，匹马戍梁州。<br>
        关河梦断何处？尘暗旧貂裘。<br>
        胡未灭，鬓先秋，泪空流。<br>
        此生谁料，心在天山，身老沧洲。<br>
    </p>
    </div>
    <div>
    <span><h3>行香子·七夕</h3></span>
    <hr>    
    <a href="https://so.gushiwen.org/shiwenv_a50b278b8901.aspx" target="_blank">
        <img src="img/17.jpg" alt="李清照" title="李清照的影子" width="280px" height="380px">
    </a>
    <hr>
    <p>
        云阶月地，关锁千重。<br>
        纵浮槎来，浮槎去，不相逢。<br> 
        星桥鹊驾，经年才见，<br>
        想离情、别恨难穷。<br>
        牵牛织女，莫是离中。<br>
        甚霎儿晴，霎儿雨，霎儿风。<br>
    </p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!-- <h2>二级标题</h2>
    <h3>三级标题</h3>
    <h4>四级标题</h4>
    <h5>五级标题</h5>
    <h6>六级标题</h6> 
    <br>
    &lt;&gt;
    <b>加粗</b>&nbsp;&nbsp;<strong>加粗</strong>
    <i>倾斜</i>&nbsp;&nbsp;<em>倾斜</em>
    <u>下划线</u>&nbsp;&nbsp;<ins>下划线</ins>
    <s>删除线</s>&nbsp;&nbsp;<del>删除线</del>
    <hr> -->

</body>
</html>

