<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后宫login</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <div class="top">
        <form action="login.html" method="GET">
            <div class="mid">
                <h4 class="register_title">后宫SHOW</h4><br><br><br>
                <label for="用户名">用户名：</label>
                <input type="text" name="username" id="用户名" placeholder="请输入用户名/手机号/邮箱"><br><br>
                <label for="密码">密码：</label>&nbsp;
                <input type="password" name="password" id="密码" placeholder="请输入密码"><br><br>
                <input type="submit" value="登陆" class="b_login"><br><br><br><br>
                <span class="luoshen"> 
                翩若惊鸿，婉若游龙。<br><br>
                荣曜秋菊，华茂春松。<br><br>
                髣髴兮若轻云之蔽月，飘飖兮若流风之回雪。
                </span>
            </div>
        </form>
    </div>

</body>
</html>