<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后宫register</title>
    <link rel="stylesheet" href="./css/register.css">
</head>
<body>
    <div class="top">
        <form action="register.html" method="GET">
            <div class="mid">
                <h4 id="register_title">欢迎注册后宫SHOW</h4><br>
                <label for="用户名">用户名：</label>
                <input type="text" name="username" id="用户名" placeholder="请输入用户名/手机号/邮箱"><br><br>
                <label for="密码">密码：</label>&nbsp;
                <input type="password" name="password" id="密码" placeholder="请输入密码"><br><br>
                <span>性别 </span>
                <input type="radio" name="gender" id="0" placeholder="0"><label for="0">男</label>
                <input type="radio" name="gender" id="1" checked><label for="1" >女</label><br><br>
                <span>禁止转载</span>
                <input type="checkbox" checked>同意条款<br><br>
                <span>头像上传</span>
                <input type="file"><br><br>
                <span>学历</span>
                <select name="select" id="">
                    <option value="">博士</option>
                    <option value="">硕士</option>
                    <option selected value="">本科</option>
                </select><br><br>
                <input type="submit" value="提交按钮"><br><br>
                <input type="reset" name="" id="" value="重置按钮"><br><br>
                <input type="button" name="" id="" value="普通按钮"><br><br>
                <span>寄语</span><br><br>
                <textarea class="more_word" name="more" id="" cols="30" rows="5">手如柔荑，肤如凝脂，领如蝤蛴，齿如瓠犀，螓首蛾眉，巧笑倩兮，美目眇兮。
                </textarea><br><br>
                <input type="submit" value="注册"><br><br>
            </div>
            <div class="bottom">
                <textarea id="last_word" name="return" id="302" cols="40" rows="20">
                    &nbsp;&nbsp;其形也，翩若惊鸿，婉若游龙。荣曜秋菊，华茂春松。仿佛兮若轻云之蔽月，飘摇兮若流风之回雪。远而望之，皎若太阳升朝霞；迫而察之，灼若芙蕖出渌波。纤得衷，修短合度。肩若削成，腰如约素。延颈秀项，皓质呈露。芳泽无加，铅华弗御。云髻峨峨，修眉联娟。丹唇外朗，皓齿内鲜，明眸善睐，靥辅承权。环姿艳逸，仪静体闲。柔情绰态，媚于语言。    
                </textarea>
            </div>
        </form>
    </div>
</body>
</html>